@font-face {
    font-family: 'Calligraphy';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/FREEBSC_.ttf');
}

@font-face {
    font-family: 'Blacksword';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Blacksword.otf');
}

.full {
    margin: 8px;
    padding: 8px;
}

.active-link {
    color: red;
}

body {
    font-family: 'Calligraphy' !important;
    color: #504B3A;
    height: 100%;
}

a {

}

html {
    height: 100%;
}

#root {
    height: 100%;
}

.App {
    text-align: center;
    height: 100%;
    background-color: #E8E288;
}

.route {
    background-color: #FAF8D4 !important;
    padding: 25px;
}

.collage-paper {
    background-color: #AFBE8F !important;
    margin-bottom: 8px;
}

div.collage > div {
    margin: 0;
}

div.collage > div:last-child > div{
    margin-bottom: 4px;
}

div.collage > div:nth-child(1) {
    max-height: 160px;
}

div.collage > div:nth-child(2) {
    max-height: 220px;
}

@media (min-width: 768px) and (max-width: 900px), (max-width: 600px){
    div.collage > div:nth-child(1) {
        max-height: 100px;
    }

    div.collage > div:nth-child(2) {
        max-height: 300px;
    }
}


div.collage > div > div {
    overflow: hidden;
    padding: 4px;
}

div.collage > div > div > img {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.face-avatar {
    width: 100px;
    height: 100px;
}